@model MVCExample.Models.Student
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutGuest.cshtml";
}

<h2>Welcome @TempData["uid"]</h2>

@using (Html.BeginForm())
{
    <table>
        <tr><td>Enter rollno</td><td>@Html.TextBoxFor(a => a.Rno) </td></tr>
        <tr><td>Enter name</td><td>  @Html.TextBoxFor(a => a.Sname) </td></tr>
        <tr><td>Enter branch</td><td>@Html.TextBoxFor(a => a.Branch) </td></tr>
        <tr><td>Enter fees</td><td>  @Html.TextBoxFor(a => a.Fees) </td></tr>
        <tr><td colspan="2"><input type="submit" name="btnsubmit" value="Create" /> </td></tr>

    </table>




}
@ViewBag.data
@*@Html.ActionLink("View Student Record ", "Showdata")*@
<a href="/stu/showdata"><input type="button" value="SHOWDATA" /></a>
