@model MVCExample.Models.Emp

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/_LayoutGuest.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Emp</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmpName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Job)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Job)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Salary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dept.Deptname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dept.Deptname)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EmpId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
